# PYTHON BASICS

In [1]:
print('Hello World')

Hello World

In [2]:
print('Hello Mr {} {}, Welcome to {}'.format('Ankit','Nair','London'))

Hello Mr Ankit Nair, Welcome to London

In [3]:
print('Hello Welcome to {a},{a} is {b}'.format(a='London',b='beautiful'))

Hello Welcome to London,London is beautiful

In [4]:
a=10

In [5]:
type(a)

int

In [6]:
b='string'

In [7]:
type(b)

str

### LIST

 List is a data structure in Python that is mutable or changable ordered sequence of elements. Lists are defined by values between []

In [8]:
a=[1,2,3]

In [9]:
type(a)

list

#### Create list using either [] or list() function

In [10]:
a=[]

In [11]:
type(a)

list

In [12]:
b=list()

In [13]:
type(b)

list

In [14]:
lst=[1,2,3,5]

In [15]:
len(lst)

4

In [29]:
## Append in list
lst.append(11)

In [30]:
print(lst)

[1, 2, 3, 5, 9, 9, 11]

In [20]:
## Indexing in List
lst[1]

2

In [21]:
## Slicing
lst[1:2]

[2]

In [22]:
lst[1:3]

[2, 3]

In [23]:
lst[:3]

[1, 2, 3]

In [31]:
lst[:-1]

[1, 2, 3, 5, 9, 9]

In [32]:
lst[-1]

11

In [33]:
lst[:]

[1, 2, 3, 5, 9, 9, 11]

In [34]:
## Append another list
lst.append([12,13])

In [35]:
print(lst)

[1, 2, 3, 5, 9, 9, 11, [12, 13]]

####  LIST :INSERT

In [36]:
NewList=[1,2,'an']

In [37]:
NewList.insert(1,'hello')

In [38]:
print(NewList)

[1, 'hello', 2, 'an']

#### LIST: EXTEND

In [39]:
## Extend is used to add multiple items to the list in one go, if we were adding multiple items in append it was adding it as Nested List

In [40]:
NewList.extend(['a','b','c'])

In [41]:
print(NewList)

[1, 'hello', 2, 'an', 'a', 'b', 'c']

####  Other important methods in LIST

In [52]:
a=[1,2,3,1.4]

In [53]:
sum(a)

7.4

In [54]:
## POP will pop out the last item/ Index provided item of the list as output and the original list will not contain the item anymore
a.pop()

1.4

In [55]:
print(a)

[1, 2, 3]

In [56]:
a.pop(1)

2

In [57]:
print(a)

[1, 3]

In [58]:
## Count will find the number of occurences of a particular item
a=[1,1,2,3,4]

In [60]:
a.count(1)

2

In [61]:
a.count(2)

1

In [62]:
## Len will calculate the length of list
len(a)

5

In [63]:
## Index will return the index of item
a.index(3)

3

In [64]:
a.index(1)

0

In [68]:
## Min and max to find minimum and max values in list
min(a)

1

In [69]:
max(a)

4

### SET

A Set is a unordered collection datatypes that is iterable, mutable and has only unique items. Items are enclosed between {}

In [70]:
## to create empty set use
s= set()
print(s)
print(type(s))

set()
<class 'set'>

In [71]:
## Set will only have unique values
s={1,2,3,4,4,5,5,5}
print(s)

{1, 2, 3, 4, 5}

In [72]:
## Indexing is not possible as it is not a sequential data type

In [73]:
# Add items
s.add(9)

In [74]:
print(s)

{1, 2, 3, 4, 5, 9}

In [84]:
Set1 = {'Batman', 'Superman', 'Aquaman'}
Set2 = {'Batman', 'Superman', 'Aquaman', 'Wonder Woman'}

In [85]:
## Difference will return non matching items between 2 sets. It will not update the result on the existing set
Set2.difference(Set1)

{'Wonder Woman'}

In [86]:
print (Set2)

{'Batman', 'Wonder Woman', 'Superman', 'Aquaman'}

In [87]:
## DIfference Update will work same as difference but it will also update the result to the set

In [88]:
Set2.difference_update(Set1)

In [89]:
print(Set2)

{'Wonder Woman'}

In [90]:
## INTERSECTION will get only the common elements
Set1 = {'Batman', 'Superman', 'Aquaman'}
Set2 = {'Batman', 'Superman', 'Aquaman', 'Wonder Woman'}
Set2.intersection(Set1)

{'Aquaman', 'Batman', 'Superman'}

## DICTIONARIES

Dictionary is a collection which is unordered, changable and indexed. Theya are enclosed between {} and are in a key value pair

In [91]:
## to create empty dictionary
d= dict()

In [92]:
print(d)

{}

In [93]:
type(d)

dict

In [94]:
d={'One':1, 'Two':2, 'Three':3}

In [96]:
# Access items on the basis of Keys
d['Two']

2

In [104]:
# Looping through keys
for x in d.keys():
    print(x)

One
Two
Three

In [105]:
# Looping through values
for x in d.values():
    print(x)

1
2
3

In [106]:
# Looping through items
for x in d.items():
    print(x)

('One', 1)
('Two', 2)
('Three', 3)

In [107]:
# Adding new item to dict
d['Four']=4

In [108]:
print(d)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [111]:
# Nested Dict
Car1_Model = {'Maruti': 2000}
Car2_Model = {'Hyundai':2010}

In [112]:
car_types = {'Car1': Car1_Model, 'Car2': Car2_Model}

In [113]:
print(car_types)

{'Car1': {'Maruti': 2000}, 'Car2': {'Hyundai': 2010}}

In [114]:
car_types['Car1']['Maruti']

2000

## Tuples

Tuples are collection of immutable items enclosed between ()

In [117]:
# To create an empty Tuple
s=tuple()

In [118]:
print(s)

()

In [119]:
type(s)

tuple

In [123]:
tup = (1,2,3,4,5,5)

In [124]:
tup[1]

2

In [125]:
tup.count(5)

2

In [126]:
tup.index(1)

0